@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&family=Orbitron&family=Oswald:wght@500&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat,Arial,sans-serif;
    /* font-family: Oswald;  */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-weight: 400; */
    /* background-color: #0e1217 !important; */
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* border-radius: 50px; */
    margin-top: 20px !important;
    width: 100px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 200px;
    /* background-color: red; */
}
.logo{
    width: 150px;
}
.contact-link {
    border-radius: 7px;
}
.navbar-toggler{
    width: 50px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}
.navbar-toggler i{
    color: white;
    font-size: 40px;
}
.contact-item .contact-link {
    display: flex;
}

.nav-item .contact-link {
    color: white !important;
}

.navbar-brand img {
    width: 160px;
}

.nav-item a {
    color: white !important;
    font-size: 20px;
    margin: 0px 20px 0px 20px;
}
.languages-header{
    background-color: transparent;
}
.languages-header div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.languages{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages div a{
    margin: 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.navigation ul {
    display: block;
    height: 70px;
    list-style-type: none;
    align-items: center;
}

.navbar-nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-left: -40px;
}

.navigation ul li {
    margin-left: 10px;
    border: none !important;
    margin-top: 30px;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.responsive-nav{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: red;
}
.nav-header{
    display: none;
}
.close-btn{
    display: none;
}
.close-btn-responsive{
    display: block;
}
.banner {
    /* height: calc(100vh - 70px); */
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -250px;
}
.banner img {
    width: 700px;
    margin-left: 20px;
}

.text-content h1{
    font-size: 50px;
    text-align: left;
}
.text-content div p{
    text-align: left;
}
.about-us-banner h1{
    text-align: left;
}
.banner .text-content {
    width: 800px;
    animation: textAnimation;
    animation-duration: 0.2s;
    color: white;
    margin-left: 300px;
}
.navbar-toggler-icon{
    color: white !important;
    visibility: hidden;
}

.service-content h1{
    padding-left: 10px;
}
.tools-technologies{
    margin-top: 50px;
}
.tools-technologies-content{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 186px); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.active{
    opacity: 1;
    transform: scale(1);
}
.languages-content{
    display: flex;
    flex-direction: column;
}
.languages{
    display: flex;
    flex-wrap: wrap;
}
.languages p{
    margin: 10px;
    border: 1px solid rgba(20,118,242,.2);
    border-radius: 50px;
    padding: 3px 17px;
}
.tech{
    display: flex;
    flex-wrap: wrap;
    background-color: #eaf3fe; 
    width: 637px;
    height: 300px;
    margin: 3px;
    padding: 5px;
}
.tech div{
    display: flex;
    align-items: center;
}
.tech div span{
    font-size: 25px;
}
.left{
    border-top-left-radius: 20px;
}
.left-bottom{
    border-bottom-left-radius: 20px;
}
.right{
    border-top-right-radius: 20px;
    background-color:#eaf3fe;
}
.right-bottom{
    border-bottom-right-radius: 20px;
}
.our-work{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.our-work p{
    width: 500px;
}
.work-together-contact-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.tech i {
    font-size: 40px;
    color: #1865c7;
    margin: 10px;
    /* border: 1px solid #0246ff; */
    border-radius: 50px;
    padding: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width: 65px;
    height: 60px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 7px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    top: 85%;
    left: 90%;
    z-index: 2;
    color: #1865c7;
}
.path .path-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* .path div{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center;
} */

.language ul{
    list-style-type: none;
    color: white;
    font-size: 23px;
}
.language ul li {
    cursor: pointer;
}
.open-btn{
    display: flex;
    height: 50px;
    width: 700px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    padding: 15px 10px 0px 10px;
}

.accordion-text{
    width: 700px;
    display: none;
}
.path-image img{
    width: 570px;
}
.social-media-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service {
    width: 500px;
    height: 310px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid lightgray; */
    transition: 0.3s;
    cursor: pointer;
    background-color: white;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.service p{
    color: #8c8c8c;
    height: 50px;
}
.service:hover {
    transform: scale(1.023);
    box-shadow: 0px 9px 23px 4px rgba(0,0,0,0.1);
}

.service i {
    background-color: #eaf3fe;
    font-size: 50px;
    color: #1865c7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.service-content {
    margin-top: 100px;
    /* background-color: #0246ff; */
}
.path-content{
    display: flex;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.technologies-content {
    margin-top: 200px;
}

header {
    margin-bottom: 100px;
}

.social-media-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.social-media-cards div{
    margin: 10px;
}
.social-media-card{
    padding: 10px;
    width: 400px;
    height: auto;
    background-color: white;
    transition: 0.3s; 
}
.social-media-card:hover{
    transform: scale(1.023);
    box-shadow: 0px 9px 23px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}
.social-media-card .social-media-menagment{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media-menagment .text{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-content{
    background-color: #f7f9fd;
    height: auto;
    padding: 20px;
}
.social-media-menagment div h3{
    margin-top: 50px;
}
.social-media-menagment div a{
    text-decoration: none;
}
.social-media-menagment img{
    width: 300px;
    height: 230px;
    object-fit: cover;
}
.project-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin: 5px;
}
.project-content img{
    transition: 0.3s;
    cursor: pointer;
}
.project-background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-background img{
    width: 700px;
    position: relative;
    margin: 10px;
}
.project img{
    z-index: 1;
    width: 395px;
    height: 210px;
}
.project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -85px;
}
.navbar-toggler {
    border: none;
    box-shadow: none !important;
}
.about-us p {
    font-size: 19px;
    width: 600px;
}

.about-us-banner{
    color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.about-us-banner h1{
    font-size: 45px;
}

.about-us-banner p{
    font-size: 20px;
}

.about-us-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.view img {
    width: 600px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
}

.view .item {
    display: flex;
}

.item strong p {
    margin-right: 10px;
}

.project-info {
    padding: 30px;
    margin: 10px;
    width: 300px;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.work-together {
    margin-top: 200px;
    padding: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 700px;
    height: 650px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-top: 200px;
}

.contact h1{
    margin-left: 20px;
    margin-top: 30px;
}
.contact form div{
    width: 700px;
    display: flex;
    justify-content: center;
}
.contact form{
    padding: 10px;
}

.contact form input:focus{
    outline: #0246ff;
}
.work-together{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media a {
    color: black;
    text-decoration: none;
}
.what-next{
    width: 350px;
    height: auto;
    background-color: #1865c7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 600px;
    padding: 40px;
    color: white;
    margin-bottom: 500px;
}
.what-next h2{
    margin-bottom: 50px;
}
.step{
    display: flex;
    margin-bottom: 20px;
}
.what-next .step-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background-color: #FFFFFF33;
    margin-right: 10px;
    padding: 15px 10px;
}
.contact-info i {
    font-size: 25px;
    margin-bottom: 30px;
}
.contact-info i span{
    font-family: Oswald;
    margin-left: 7px;
}
.contact-info div a {
    color: black;
    text-decoration: none;
}

.sign-up{
    width: 200px;
}
.add-project-content{
    width: 100vw;
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 280px);
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 280px);
}
.contact-info div a i {
    font-size: 50px;
}

.dashboard{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.dashboard h1{
    text-align: center;
    margin-bottom: 70px;
}

.edit-img{
    width: 150px;
}

.sidebar{
    background-color: #1d2b46;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul{
    margin-top: -200px;
}
.dashboard .responsive{
    display: none;
}
.navigation ul li a{
    color: white;
}
.navigation ul li{
    border: 1px solid white;
    width: 300px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.navigation ul li i{
    margin-right: 10px;
}
.social-media i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 23px;
    color: white;
    background-color: #1865c7;
}
.dashboard-content{
    padding: 50px;
    width: 100%;
}
.dashboard-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dashboard-card{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: 0.3s;
    box-shadow: 0px 9px 23px 4px rgba(0,0,0,0.1);
    /* box-shadow: 0px 10px 15px -3px rgba(0.2,0,0,0.1); */
}
.dashboard-card:hover{
    transform: scale(1.080);
    cursor: pointer;
}
.dashboard-card p{
    font-size: 20px;
}
.dashboard-card i{
    font-size: 30px;
}
.navigation ul li {
    display: block;
}
.dashboard-card div{
    margin: 10px;
}

.info-section p {
    color: lightgray;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form input {
    width: 600px;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.form form textarea {
    width: 600px;
    padding: 10px;
    margin: 10px;
    outline: 0;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.form form div{
    width: 600px;
    display: flex;
    justify-content: flex-end;
}
.form form button {
    width: 200px;
    background-color: #17ca8e;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    color: white;
    font-size: 25px;
}

.add-project form input{
    width: 600px;
    padding: 10px;
    margin: 10px;
    outline: 0;
    border: 1px solid black;
}

.add-project form button {
    width: 200px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    transition: 0.3s;
}
.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.edit-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-projects form input{
    width: 600px;
    padding: 10px;
    margin: 10px;
    outline: 0;
    border: 1px solid black;
}
.edit-projects form{
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-projects form button {
    width: 200px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    transition: 0.3s;
}
.edit{
    padding: 5px 10px;
    background-color: #1d2b46;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.delete{
    padding: 5px 10px;
    background-color: red;
    text-decoration: none;
    color: white;
}
.add-project form button:hover{
    background-color: black;
    color: white;
}

.add-project h1{
    margin-bottom: 40px;
}

.form form button:hover {
    opacity: 0.8;
}

.capabilities .item-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-start-option{
    margin-top: 50px;
    margin-bottom: 20px;
}
.project-start-option a{
    padding: 15px 30px;
    border-radius: 7px;
    font-size: 20px;
    border: none;
    background-color: #1865c7;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}
.project-start-option div{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.project-start-option .call-us{
    font-size: 30px;
    font-weight: bolder;
}
.project-start-option .number{
    margin-top: 5px;
    margin-left: 5px;
}
.responsive-capabilities .item-content {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.item-content p {
    width: 500px;
}

.ssl-image {
    margin-right: 50px;
}
.quote-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}
.quote-content .text-content{
    margin: 20px;
    width: 350px;
}
.quote-content .text-content p{
    font-size: 35px;
}
.quote-content .text-content i{
    color: #0246ff;
    font-size: 30px;
}
.quote-content img{
    border-radius: 10px;
    margin-right: 50px;
    opacity: 0.8;
}
/* footer {
    margin-top: 250px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px -16px 15px -11px rgba(0, 0, 0, 0.1);
}

footer .content {
    margin-top: 20px;
}

.footer-nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
}

.footer-nav ul li a {
    color: black;
    text-decoration: none;
    margin: 18px;
}

div .whatsapp_float i {
    font-size: 30px;
} */
footer{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
footer .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-services{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 50px;
}
.footer-technologies{
    width: 200px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 50px;
}
.footer-languages{
    width: 200px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 50px;
}
.footer-services h3{
    margin-left: 30px;
    font-size: 35px;
}
.footer-technologies h3{
    margin-left: 30px;
    font-size: 35px;
}
.footer-languages h3{
    margin-left: 30px;
    font-size: 35px;
}
.footer-company h3{
    margin-left: 30px;
    font-size: 35px;
}
.footer-contact h3{
    margin-left: 30px;
    font-size: 35px;
}
.footer-company{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 50px;
}
.footer-contact{
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 50px;
    padding-top: 17px;
}

.not-active{
    display: none;
}

.social-media-all-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-media-all-content .section-header img{
    width: 200px;
}
.social-media-all-content .section-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.social-media-text{
    margin-top: 100px;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
.copyright{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    border-top: 1px solid lightgray;
    padding-top: 15px;
}
.copyright div{
    line-height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.copyright .social-media{
    margin-top: 6px;
}
footer .content ul{
    list-style-type: none;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
footer .content ul li {
    margin-bottom: 15px;
}

footer .content ul li a{
    text-decoration: none;
    color: #323232;
    font-size: 20px;
}
.accordion{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.accordion-item{
    width: 700px;
    -webkit-appearance:none;
}
.accordion-item:focus{
    outline: 0 !important;
    border: none !important;
    
}
#close{
    position: fixed;
    z-index: 2;
    color: white;
}
.plan-number{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #1865c7 !important;
    margin-right: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cookies{
    width: 100%;
    height: 250px;
    margin-top: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f7f9fd;
    border-radius: 30px;
    margin-bottom: 40px;
    box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
}
.cookies div{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
}
.cookies div p{
    font-size: 22px;
    color: black;
}
.cookies div .cookies-btn{
    width: 900px;
    display: flex;
}
.cookies div button{
    padding: 10px 10px;
    margin: 5px;
    border: none;
    background-color:#1865c7;
    color: white;
    border-radius: 10px;
}
.tools-technologies-title{
    display: flex;
    flex-direction: column;
}
.services-title{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.path-title{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.social-media-title{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.why-us-title{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
.projects-title{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
.tools-technologies-title p{
    color: #8c8c8c;
    font-size: 22px;
}
.services-title p{
    color: #8c8c8c;
    font-size: 22px;
}
.why-us-title p{
    color: #8c8c8c;
    font-size: 22px;
}
.social-media-title p{
    color: #8c8c8c;
    font-size: 22px;
}
.path-title p{
    color: #8c8c8c;
    font-size: 22px;
}
.projects-title p{
    color: #8c8c8c;
    font-size: 22px;
}
.cards-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.talk-to-us-content{
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}
.talk-to-us-content a{
    text-decoration: none;
    background-color: #1865c7;
    border-radius: 7px;
    padding: 15px 30px;
    color: white;
}
.talk-to-us-content .text{
    font-size: 30px;
}
.why-choose-us{
    width: 100%;
}
.cards-content-bg{
    background-color: #f7f9fd;
    padding: 20px;
}
.why-us-card{
    width: 400px;
    background-color: white;
    padding: 20px;
    margin: 5px;
}
.why-us-card .card-number{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 40px;
    font-weight: bolder;
    background-color: #eaf3fe;
    color: #1865c7;
    padding: 5px 16px;
}
.dropdown-menu{
    width: 50px;
    border: none !important;
    background-color: transparent;
    margin-left: -6px;
}
.dropdown-menu li a{
    color: white !important;
}
.dropdown-menu li a:hover{
    background-color: transparent !important;
}
.active-lang{
    text-transform: uppercase;
}      
.close{
    display: none;
}
.close-open{
    display: block;
}
.burger-not-active{
    display: none;
}
.privacy-policy h3{
    font-weight: bolder;
}
.privacy-policy p{
    color: #8c8c8c;
    font-size: 21px;
}
.cookies-path-part a{
    text-decoration: none;
    font-size: 19px;
}
.cookies-path-part .home{
    color: black;
}
.cookies-path-part .cookie{
    color: #8c8c8c;
}
.cookie-policy{
    text-decoration: none;
}
@media screen and (max-width: 1400px){
    .banner {
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -400px;
    }
    nav ul{
        justify-content: center;
    }

    .banner .text-content {
        width: 600px;
        animation: textAnimation;
        animation-duration: 0.2s;
        text-align: center;
        margin-left: 0px;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service {
        width: 450px;
        height: auto;
        margin: 5px;
        padding: 20px;
        border-radius: 10px;
        /* border: 1px solid lightgray; */
    }

    .service i {
        font-size: 50px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }
    .contact form input{
        width: 650px;
    }
    .contact form textarea{
        width: 650px;
    }
    .contact-info i {
        font-size: 25px;
        margin-bottom: 30px;
        display: flex;
        margin-left: -210px;
    }
    .contact form div{
        width: 700px;
        display: flex;
        justify-content: center;
    }
    .social-media i {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin: 5px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 23px;
    }

    .info-section p {
        color: lightgray;
    }

    .info-section {
        margin-bottom: 50px;
    }

    .form form {
        display: flex;
        flex-direction: column;
    }

    .capabilities {
        display: none;
    }

    .responsive-capabilities .item-content {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }
    /* .left{
        border-top-left-radius: 0px;
    }
    .left-bottom{
        border-bottom-left-radius: 0px;
    }
    .right{
        border-top-right-radius: 0px;
        background-color:#eaf3fe;
    }
    .right-bottom{
        border-bottom-right-radius: 0px;
    } */
    .tech{
        border-radius: 20px;
    }
    .path-image img{
        width: 700px;
    }
    .work-together-contact-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow-x: hidden;
    }
    .work-together-contact-page div{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -1px;
    }
    .work-together-contact-page .contact form{
        align-items: center;
        width: 750px;
    }
    .work-together-contact-page .contact input{
        width: 700px;
    }
    .work-together-contact-page .contact textarea{
        width: 700px;
    }
    .path .path-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .talk-to-us-content{
        padding: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
    }
}
@media screen and (max-width: 1300px) {
    .banner {
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -400px;
    }
    nav ul{
        justify-content: center;
    }

    .banner .text-content {
        width: 600px;
        animation: textAnimation;
        animation-duration: 0.2s;
        text-align: center;
        margin-left: 0px;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service {
        width: 450px;
        height: auto;
        margin: 5px;
        padding: 20px;
        border-radius: 10px;
        /* border: 1px solid lightgray; */
    }

    .service i {
        font-size: 50px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }
    .contact form input{
        width: 650px;
    }
    .contact form textarea{
        width: 650px;
    }
    .contact-info i {
        font-size: 25px;
        margin-bottom: 30px;
        display: flex;
        margin-left: -210px;
    }
    .contact form div{
        width: 700px;
        display: flex;
        justify-content: center;
    }
    .social-media i {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin: 5px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 23px;
    }

    .info-section p {
        color: lightgray;
    }

    .info-section {
        margin-bottom: 50px;
    }

    .form form {
        display: flex;
        flex-direction: column;
    }

    .capabilities {
        display: none;
    }

    .responsive-capabilities .item-content {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }
    /* .left{
        border-top-left-radius: 0px;
    }
    .left-bottom{
        border-bottom-left-radius: 0px;
    }
    .right{
        border-top-right-radius: 0px;
        background-color:#eaf3fe;
    }
    .right-bottom{
        border-bottom-right-radius: 0px;
    } */
    .tech{
        border-radius: 20px;
    }
    .path-image img{
        width: 700px;
    }
    .work-together-contact-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow-x: hidden;
    }
    .work-together-contact-page div{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -1px;
    }
    .work-together-contact-page .contact form{
        align-items: center;
        width: 750px;
    }
    .work-together-contact-page .contact input{
        width: 700px;
    }
    .work-together-contact-page .contact textarea{
        width: 700px;
    }
    .path .path-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .talk-to-us-content{
        padding: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
    }
    .cookies{
        width: 100%;
        height: 250px;
        margin-top: 200px;
        position: fixed;
        bottom: 0;
        background-color: #f7f9fd;
        border-radius: 30px;
        margin-bottom: 70px;
        box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
    }
    .cookies div{
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 20px;
    }
    .cookies div p{
        font-size: 20px;
        color: black;
    }
    .cookies div .cookies-btn{
        width: 900px;
        display: flex;
    }
    .cookies div button{
        padding: 10px 10px;
        margin: 5px;
        border: none;
        background-color:#1865c7;
        color: white;
        border-radius: 10px;
    }
}
@media screen and (max-width: 1000px) {
    .banner .text-content {
        width: 500px;
        animation: textAnimation;
        animation-duration: 0.2s;
        text-align: center;
        margin-left: 0px;
    }
    .banner h1{
        font-size: 30px;
    }

    .circle {
        width: 85px;
        height: 50px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 7px;
        line-height: 55px;
        text-align: center;
        cursor: pointer;
        position: fixed;
        top: 85%;
        left: 85%;
    }

    .circle i {
        color: #1865c7;
        font-size: 22px;
    }

    .capabilities .item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .item-content img {
        width: 300px;
    }

    .item-content p {
        width: 300px;
    }
    .sidebar{
        background-color: #1d2b46;
        width: 70px;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .navigation ul li a{
        color: white;
    }
    
    .navigation ul li{
        border: 1px solid white;
        width: 300px;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 10px;
        display: none;
    }
    
    .navigation ul li i{
        margin-right: 10px;
    }
    footer{
        margin-top: 700px;
    }
    .dashboard .responsive{
        display: block;
    }
    .dashboard .responsive ul li i{
        font-size: 30px;
    }
    .dashboard .responsive ul li a{
        text-decoration: none;
        color: white;
    }
    .dashboard .responsive ul li{
        margin: 15px;
    }
    .dashboard .responsive ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .dashboard-card{
        width: 250px;
        height: 150px;
    }
    .dashboard-content{
        padding: 20px;
        width: 100%;
    }
    .add-project form input{
        width: 300px;
        padding: 10px;
        margin: 10px;
        outline: 0;
        border: 1px solid black;
    }
    
    .add-project form button {
        width: 200px;
        background-color: transparent;
        border: 1px solid black;
        padding: 10px;
        border-radius: 30px;
        transition: 0.3s;
    }
    .add-project-content{
        width: 100vw;
        width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .path-image img{
        width: 600px;
    }
    .quote-content img{
        width: 520px;
    }
    .work-together{
        flex-direction: column;
        margin-bottom: 0px;
        padding: 30px;
    }
    .what-next{
        width: 600px;
        height: 500px;
        background-color: #1865c7;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 40px;
        color: white;
        margin-bottom: 400px;
        margin-top: -2px;
    }
    .contact{
        width: 600px;
    }
    .contact form input{
        width: 580px;
    }
    .contact form textarea{
        width: 580px;
    }
    .contact {
        flex-direction: column;
        align-items: center;
        margin-top: 1100px;
    }
    .contact form div{
        width: 600px;
        display: flex;
        justify-content: center;
    }
    .languages-content{
        display: flex;
        flex-direction: column;
    }
    .work-together-contact-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .work-together-contact-page div{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -1px;
    }
    .work-together-contact-page .contact form{
        align-items: center;
        width: 500px;
    }
    .work-together-contact-page .contact input{
        width: 700px;
    }
    .work-together-contact-page .contact textarea{
        width: 700px;
    }
    .navbar-nav{
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        /* position: relative; */
    }
    .open-btn{
        display: flex;
        height: 50px;
        width: 500px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid lightgray;
        padding: 15px 10px 0px 10px;
    }
    
    .accordion-text{
        width: 500px;
        display: none;
    }
    .path-image img{
        width: 400px;
    }
    .accordion-item{
        width: 500px;
    }
    .projects{
        overflow-x: hidden;
    }
    .project-background img{
        width: 500px;
        position: relative;
        margin: 10px;
    }
    .project img{
        z-index: 1;
        width: 282px;
        height: 150px;
    }
    .project{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -62px;
    }
    .talk-to-us-content{
        padding: 20px;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 350px;
    }
    /* .navbar-nav li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
    } */
    /* .navbar-toggler{
        width: 50px;
        height: 50px;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        
    } */
    body{
        overflow-x: hidden;
    }
    .cookies{
        width: 100%;
        height: 250px;
        margin-top: 200px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f7f9fd;
        border-radius: 30px;
        margin-bottom: 70px;
        box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
    }
    .cookies div{
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 20px;
    }
    .cookies div p{
        font-size: 19px;
        color: black;
    }
    .cookies div .cookies-btn{
        width: 900px;
        display: flex;
    }
    .cookies div button{
        padding: 10px 10px;
        margin: 5px;
        border: none;
        background-color:#1865c7;
        color: white;
        border-radius: 10px;
    }
    .about-us-banner{
        color: white;
        width: auto;
        display: flex;
        height: 100px;
        flex-direction: column;
        justify-content: center;
    }
    .about-us-container{
        margin-top: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 990px) {
    .navbar-nav{
        background-color:white;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        left: 0;
        right: 0;
        z-index: 100;
        
    }
    .navbar-nav .nav-link{
        /* border-top: 1px solid lightgray; */
        color: black !important;
        position: relative;
    }
    .navbar-nav li{
        width: 100%;
    }
    .navbar-nav li a{
        color: black !important;
        border: none;
    }
    .contact-link{
        color: black !important;
    }
    .dropdown-menu .dropdown-item{
        border-bottom: none !important;
    }
}
@media screen and (max-width: 800px) {
    .banner .text-content {
        width: 350px;
        animation: textAnimation;
        animation-duration: 0.2s;
        text-align: center;
    }
    .view img {
        width: 300px;
        margin: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .contact-info i {
        font-size: 25px;
        margin-bottom: 30px;
        margin-left: -120px;
    }

    .contact-info i span {
        padding-left: 10px;
    }

    .info-section {
        margin-left: 10px;
    }

    .circle {
        width: 85px;
        height: 50px;
        margin-left: -20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 10px;
        line-height: 55px;
        text-align: center;
        cursor: pointer;
        position: fixed;
        top: 85%;
        left: 80%;
    }

    .circle i {
        color: #1865c7;
        font-size: 22px;
    }

    .ssl-image {
        margin-right: 0px;
    }
    .path-image img{
        width: 390px;
    }
    .quote-content img{
        width: 320px;
    }
    .quote-content div img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .what-next{
        margin-bottom: 500px;
        width: 360px;
    }
    .contact{
        width: 360px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact form{
        width: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact form div{
        width: 360px;
        display: flex;
        justify-content: center;
    }
    .contact form input{
        width: 340px;
    }
    .contact form textarea{
        width: 340px;
    }
    .work-together-contact-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .work-together-contact-page div{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -1px;
    }
    .work-together-contact-page .contact form{
        align-items: center;
        width: 350px;
    }
    .work-together-contact-page .contact input{
        width: 300px;
    }
    .work-together-contact-page .contact textarea{
        width: 300px;
    }
    .open-btn{
        display: flex;
        height: 50px;
        width: 350px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid lightgray;
        padding: 15px 10px 0px 10px;
    }
    
    .accordion-text{
        width: 360px;
        display: none;
    }
    .path-image img{
        width: 350px;
        margin-top: 100px;
    }
    .accordion-item{
        width: 350px;
    }
    .quotes{
        overflow-x: hidden;
    }
    .our-work p{
        width: 300px; 
    }
    /* nav{
        margin-bottom: 250px;
    } */
    .cookies{
        width: 90%;
        height: 250px;
        margin-top: 200px;
        position: fixed;
        bottom: 0;
        background-color: #f7f9fd;
        border-radius: 30px;
        margin-bottom: 70px;
        box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
    }
    .cookies div{
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 20px;
    }
    .cookies div p{
        font-size: 16px;
        color: black;
    }
    .cookies div .cookies-btn{
        width: 900px;
        display: flex;
    }
    .cookies div button{
        padding: 10px 10px;
        margin: 5px;
        border: none;
        background-color:#1865c7;
        color: white;
        border-radius: 10px;
    }
    .navbar-nav{
        background-color:white;
        background-size: cover;
        min-width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    .navbar-nav .nav-link{
        color: black !important;
    }
    .navbar-nav li{
        width: 100%;
    }
    .navbar-nav li a{
        color: black !important;
    }
    .contact-link{
        color: black !important;
    }
    .dropdown-menu .dropdown-item{
        border-bottom: none !important;
    }
    .about-us-image img{
        width: 350px;
    }

    .about-us p {
        font-size: 19px;
        width: 350px;
    }
    .about-us-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 500px){
    /* nav{
        margin-bottom: 380px;
    } */
}